<div class="enclose">
  <section class="bizbanner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 bizbannertop">
          <h1>Start accepting online
            payments.</h1>
          <p>Manage your payments better using tools that enhance your customer’s experience. Whether you're looking for a payment gateway, we can help you. </p>
          <div class="btn btn-warning bizsignbtn">Sign up</div>
          <div class="btn btn-danger bizcheckoutbtn">Merchant Check-out</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 bizbanbtmleft">
            <h3>Secure and convenient Online Payments.</h3>
            <p>Shop online and enjoy a wide variety of payments options. Pesapal offers you a secure and hassle free shopping experience from over 200+ online stores and merchants.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 bizbanbtmright">
          <div class="bizmyservices">
            <div class="grid-item bordervert borderhor text-center">
              <img src="../../assets/img/airtime.png" alt="">
              <h4>Accept Payments</h4>
            </div>
            <div class="grid-item borderhor text-center">
              <img src="../../assets/img/bill.png" alt="">
              <h4>Secure Portal</h4>
            </div>
            <div class="grid-item bordervert text-center">
              <img src="../../assets/img/onlinepay.png" alt="">
              <h4>Payment stems</h4>
            </div>
            <div class="grid-item text-center">
              <img src="../../assets/img/other.png" alt="">
              <h4>Other Services</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bizcontsectwo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <h3>1. Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit eiusmod incididunt ut labore et dolore magna aliqua.</p>
          <div class="btn btn-warning readmore morespec">Read More</div>
        </div>
        <div class="col-md-4 text-center">
          <h3>2. Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit eiusmod incididunt ut labore et dolore magna aliqua.</p>
          <div class="btn btn-warning readmore morespec">Read More</div>
        </div>
        <div class="col-md-4 text-center">
          <h3>3. Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit eiusmod incididunt ut labore et dolore magna aliqua.</p>
          <div class="btn btn-warning readmore morespec">Read More</div>
        </div>
      </div>
    </div>
  </section>
  <section class="bizcontsecthree">
    <div class="consecthreenav">
      <div class="container">
          <ul id="mytabs" class="nav nav-tabs nav-justified" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" href="#checkout" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Merchant Checkout</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#dashboard" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Merchant Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#invoice" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Client Invoicing</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="contsecthreebody">
      <div class="div container">
        <div id="mytabsbody" class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="checkout" aria-labelledby="checkout-tab">
                <div class="tabcontainer">
                    <div class="tabgriditems text-center">
                        <img src="../../assets/img/checkout.png" alt="">
                      </div>
                      <div class="tabgriditems">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                      </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="dashboard" aria-labelledby="dashboard-tab">
                <div class="tabcontainer">
                    <div class="tabgriditems text-center">
                        <img src="../../assets/img/dashboard.png" alt="">
                      </div>
                      <div class="tabgriditems">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                      </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="invoice" aria-labelledby="invoice-tab">
              <div class="tabcontainer">
                    <div class="tabgriditems text-center">
                        <img src="../../assets/img/invoice.png" alt="">
                      </div>
                      <div class="tabgriditems">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                      </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="contsecthreefooter">
      <div class="container">
        <div class="text-center">
          <div class="btn btn-default learnmore">Learn more</div>
        </div>
      </div>
    </div>
  </section>
  <section class="bizcontsecfour">
    <div class="container">
    <div class="text-center">
      <h3>Get started in minutes!</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="startedcontainer">
            <div class="startedgriditems text-center">
              <img src="../../assets/img/register.png" alt="">
            </div>
            <div class="startedgriditems">
              <h4>Register</h4>
              <p>Provide your business details and get an account & information useful in integration.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="startedcontainer">
            <div class="startedgriditems text-center">
              <img src="../../assets/img/activate.png" alt="">
            </div>
            <div class="startedgriditems">
              <h4>Activate</h4>
              <p>Provide your business details and get an account & information useful in integration.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="startedcontainer">
            <div class="startedgriditems text-center">
              <img src="../../assets/img/activate.png" alt="">
            </div>
            <div class="startedgriditems">
              <h4>Accept Payments</h4>
              <p>Provide your business details and get an account & information useful in integration.</p>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
  <section class="bizcontsecfive">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Our Payment Methods</h3>
        </div>
        <div class="col-md-6">
          <div class="paymentcontainer">
            <div class="paymentgriditems text-center">
              <img src="../../assets/img/paymethods.png" alt="" class="img-fluid">
            </div>
            <!-- <div class="paymentgriditems text-center">
              <img src="../../assets/img/" alt="">
            </div>
            <div class="paymentgriditems text-center">
              <img src="../../assets/img/" alt="">
            </div>
            <div class="paymentgriditems text-center">
              <img src="../../assets/img/" alt="">
            </div>
            <div class="paymentgriditems text-center">
              <img src="../../assets/img/" alt="">
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
