<div class="enclose">
    <section class="logbanner">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-6 logbanright">
                      <h3>Sign in to your account</h3>
                      <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-6 logbanleft">
                      <form action="" class="loginform">
                          <div class="form-group">
                            <input type="email" class="form-control logmyemail" placeholder="Email">
                            <input type="text" class="form-control logmypassword" placeholder="Password">
                            <div class="btn btn-link pull-right">Forgot your password?</div>
                            <label class="label-control"><input type="checkbox"> <span>Remember my email</span></label>
                            <div class="btn btn-warning btn-block logsignin">sign in</div>
                            <label class="label-control text-center">Don't have an account?</label>
                            <div class="btn btn-outline-warning btn-block logsignup">sign up</div>
                          </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </section>
    <section class="logcontsectwo">
      <div class="container">
        <div class="logcontsectwoinner text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </section>
</div>