$myprimary-color:#06a9e0;
$mysecondary-color:#faa01c;
$mythird-color:#064e79;
$mywhite-color:#ffffff;
$myblack-color:#000000;
$mylinks-color:#222222;
$myred-color:#fa501c;
/* Webfont: Gotham-Bold */@font-face {
    font-family: 'GothamBold';
    src: url('../../assets/fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Book */@font-face {
    font-family: 'GothamBook';
    src: url('../../assets/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Gotham-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Light */@font-face {
    font-family: 'GothamLight';
    src: url('../../assets/fonts/Gotham-Light.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Gotham-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Gotham-Light.svg#Gotham-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Medium */@font-face {
    font-family: 'GothamMedium';
    src: url('../../assets/fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Thin */@font-face {
    font-family: 'GothamThin';
    src: url('../../assets/fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/Gotham-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
	text-rendering: optimizeLegibility;
}
.container{
    margin: 0px auto;
}
.logbanner{
    min-height: 800px;
    background: url('../../assets/img/loginbanner.jpg');
    background-repeat: no-repeat;
    padding-top: 390px;
    padding-bottom: 30px;
}
.logbanright{
    padding: 15px 30px;
}
.logbanright h3{
    color: $mywhite-color;
    font-size: 25px;
    font-family: GothamBook;
}
.logbanright p{
    color: $mywhite-color;
    font-size: 14px;
    font-family: GothamLight;
}
.loginform{
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2.5px 4.33px 20px 0px rgba(0, 0, 0, 0.1);
        height: 504px; 
        padding: 30px 5%;
}
.logmyemail{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(227, 227, 234);
        border-radius: 3px;
        background-color: rgba(242, 242, 255, 0.102);
        width: 100%;
        min-width: 250px;
        height: 44px; 
        margin-bottom: 30px; 
}
.logmypassword{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(227, 227, 234);
    border-radius: 3px;
    background-color: rgba(242, 242, 255, 0.102);
    width: 100%;
    min-width: 250px;
    height: 44px; 
    margin-bottom: 10px; 
}
.logsignin{
    margin-top: 15px;
    margin-bottom: 15px;
    background: $mysecondary-color;
    color: $mywhite-color;
    font-family: GothamMedium;
}
.logsignup{
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: $mysecondary-color;
    color: $mysecondary-color;
    background: transparent !important;
    font-family: GothamMedium;
}
.logsignup:hover{
    color: $myblack-color;
}
.btn-link{
    color: $mysecondary-color;
}
.label-control{
    color: $myblack-color;
    font-size: 16px;
    width: 100%;
    font-family: GothamLight;
}
.logcontsectwo{
    padding: 30px 0px 50px;
    min-height: 200px;
}
.logcontsectwoinner{
    max-width: 580px;
    margin:auto;
}
.logcontsectwoinner p{
    color: $myblack-color;
    font-size: 14px;
    font-family: GothamLight;
}
@media only screen and (max-width:910px){
    .banner{
        padding-top: 100px;
    }
}