<div class="enclose">
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 bannertop clearfix">
            <h1>Shop and online pay in a few clicks. </h1>
            <p>We offer a complete payments solution. Whether you are buying goods, paying for services online or accepting online and mobile payments, we’ve got you covered.</p>
            <div class="btn btn-warning signbtn">Sign up</div>
            <div class="btn btn-danger checkoutbtn">Quick Check-out</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 banbtmleft clearfix">
            <h3>Safe and convenient Online Payments.</h3>
            <p>Shop online and enjoy a wide variety of payments options. Pesapal offers you a secure and hassle free shopping experience from over 200+ online stores and merchants.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 banbtmright clearfix">
              <div class="myservices">
                  <div class="grid-item bordervert borderhor text-center">
                    <img src="../../assets/img/airtime.png" alt="">
                    <h4>Buy Airtime</h4>
                  </div>
                  <div class="grid-item borderhor text-center">
                    <img src="../../assets/img/bill.png" alt="">
                    <h4>Pay Bills</h4>
                  </div>
                  <div class="grid-item bordervert text-center">
                    <img src="../../assets/img/onlinepay.png" alt="">
                    <h4>Online Payments</h4>
                  </div>
                  <div class="grid-item text-center">
                    <img src="../../assets/img/other.png" alt="">
                    <h4>Other Services</h4>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contsectwo">
      <div class="container">
        <div class="myquickbuttons">
          <button class="btn btn-default quickbtns">Buy Airtime</button>
          <button class="btn btn-default quickbtns">Buy Tickets</button>
          <button class="btn btn-default quickbtns">Pay Bills</button>
          <button class="btn btn-default quickbtns">Load Wallet</button>
          <button class="btn btn-default quickbtns">Shop Online</button>
        </div>
      </div>
    </section>
    <section class="contsecthree">
      <div class="container">
        <div class="personalservicesheader text-center">
          <h3>Pay for Services</h3>
          <p>In just a few clicks you can send money, pay bills and access other services conveniently.</p>
        </div>
        <div class="row">
          <div class="col-md-4 personalservices">
            <div class="personalservicesinner text-center">
              <h3>Pay Your Bills</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="btn btn-warning readmore">Pay Bills</div>
            </div>
          </div>
          <div class="col-md-4 personalservices">
            <div class="personalservicesinner text-center">
              <h3>Online Payments</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="btn btn-warning readmore">Pay Online</div>
            </div>
          </div>
          <div class="col-md-4 personalservices">
            <div class="personalservicesinner text-center">
              <h3>Other Services</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="btn btn-warning readmore">View More</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>