<footer class="myfooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Eclectics Group</h3>
        <ul class="list-unstyled">
            <li>About</li>
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
        </ul>      
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Get Help</h3>
        <ul class="list-unstyled">
            <li>Order Status</li>
            <li>Shipping and Delivery</li>
            <li>Payment Options</li>
            <li>Contact Us</li>
        </ul>           
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>About Us</h3>
        <ul class="list-unstyled">
            <li>Careers</li>
            <li>Sustainability</li>
            <li>Service</li>
            <li>CA Supply Chains Act</li>
        </ul>             
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
          <ul class="list-inline social">
            <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          </ul> 
          <h3>Payment Methods:</h3>
          <div class="payment">
            <div class="footergriditems"><img src="../assets/img/mpesa.png" alt=""></div>
            <div class="footergriditems"><img src="../assets/img/visa.png" alt=""></div>
            <div class="footergriditems"><img src="../assets/img/paypal.png" alt=""></div>
          </div>   
      </div>
    </div>
  </div>
  <section class="myfootbtm">
    <div class="container">
      <div class="row">
        <ul class="list-unstyled">
          <li>Copyright &copy; 2017 Eclectics Group, Kenya.</li>
        </ul>
      </div>
    </div>
  </section>
</footer>
