<div class="enclose">
 <section id="page">
 <ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
</ul>
 </section>
 <div class="bannerlinks">
     <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center bannercontone">
                    <h3>The new standard in online payments</h3>
                    <p>We offer a complete payments solution. Whether you are buying goods, paying for services online or accepting online and mobile payments, we’ve got you covered.</p>
                    <a routerLink="/business"><div class="btn btn-info business">Business</div></a>
                    <a routerLink="/personal"><div class="btn btn-warning personal">personal</div></a>
                </div>
            </div>
     </div>
 </div>
 <div class="bannerbottom">
     <div class="container">
                <div class="bannerquicklink">
                    <div class="homegriditems text-center showbottom">
                        <img src="../assets/img/wallet.png" alt="">
                        <h4>My Wallet</h4>
                    </div>
                    <div class="homegriditems text-center showbottom">
                        <img src="../assets/img/online.png" alt="">
                        <h4>Online payments</h4>
                    </div>
                    <div class="homegriditems text-center hidemob showbottom">
                            <img src="../assets/img/mobile.png" alt="">
                            <h4>Mobile payments</h4>
                    </div>
                    <div class="homegriditems text-center">
                            <img src="../assets/img/sms.png" alt="">
                            <h4>Bulk SMS</h4>
                    </div>
                    <div class="homegriditems text-center hideright">
                            <img src="../assets/img/money.png" alt="">
                            <h4>Money transfer</h4>
                    </div>
                </div>
     </div>
 </div>
 <div class="clear"></div>
 <!-- banner ends -->
 <section class="cont-sec-two">
     <div class="container">
         <div class="row">
             <div class="col-md-4 text-center">
                <h3>Spend and Manage</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
                <div class="btn btn-warning personal">Read More</div>
             </div>
             <div class="col-md-4 text-center">
                <h3>Spend and Manage</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
                <div class="btn btn-warning personal">Read More</div>    
            </div>
            <div class="col-md-4 text-center">
               <h3>Spend and Manage</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
               <div class="btn btn-warning personal">Read More</div>     
            </div>
         </div>
     </div>
 </section>
 <!-- sec two ends here -->
<section class="contsecthree">
    <div class="container">
            <div class="text-center">
                <h3>Simple, efficient and reliable solutions</h3>
            </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeiconone.png" alt="">
                        <h3>Bill Payments</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeicontwo.png" alt="">
                        <h3>Bill Scheduling</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeiconthree.png" alt="">
                        <h3>Simple eWallet</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeiconfour.png" alt="">
                        <h3>Receive Payments</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeiconfive.png" alt="">
                        <h3>Simple API</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
                <div class="mysolutionsinner text-center">
                        <img src="../assets/img/homeiconsix.png" alt="">
                        <h3>Support 24/7</h3>
                        <p>Lorem ipsum dolor sit amet  consectetur adipisicing tempor incididunt ut labore etdolore magna aliqua.</p>
                </div>
        </div>
    </div>
    </div>
</section>
<!-- section three ends -->
<section class="contsecfour">
    <div class="container">
            <div class="text-center">
                <h3>Our Clients</h3>
            </div>
                    <div id="partners">       
                    <div class="item"><img src="assets/img/clientone.png" alt="eclectics partners"></div>
                    <div class="item"><img src="assets/img/clienttwo.png" alt="eclectics partners"></div>
                    <div class="item"><img src="assets/img/clientthree.png" alt="eclectics partners"></div>
                    <div class="item"><img src="assets/img/clientfour.png" alt="eclectics partners"></div>
                    <div class="item"><img src="assets/img/clientfive.png" alt="eclectics partners"></div>
                    <div class="item"><img src="assets/img/clientsix.png" alt="eclectics partners"></div>
        </div>
    </div>
</section>
</div>

