<section class="topbar fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 mycountrynav">
        <ul class="nav countryNav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><img src="../assets/img/flag-ke.png" alt=""> Kenya</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"><img src="../assets/img/flag-ug.png" alt=""> Uganda</a>
              <a class="dropdown-item" href="#"><img src="../assets/img/flag-tz.png" alt=""> Tanzania</a>
              <a class="dropdown-item" href="#"><img src="../assets/img/flag-rw.png" alt=""> Rwanda</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="wsmenucontainer clearfix">
    <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow"><span></span></a> <a class="smallogo"><img src="../assets/img/logo.png" width="120" alt="" /></a></div>
    <div class="header">
      <div class="wrappermenu clearfix bigmegamenu">
        <div class="logo clearfix"><a href="index.html" title="Responsive Slide Menus"><img src="../assets/img/logo.png" alt="" /></a></div>
        
        <!--Main Menu HTML Code-->
        <nav class="wsmenu clearfix">
          <ul class="mobile-sub wsmenu-list">
            <li><a routerLink="home" class="active"><i class="fa fa-home"></i><span class="hometext">&nbsp;&nbsp;Home</span></a></li>
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="solutions">Our solutions</a></li>
            <li><a routerLink="contacts">Contact us</a></li>
            <li class="sigin"><a routerLink="signin">Log In</a></li>
            <li class="signup"><a routerLink="signup">Get Started</a></li>
          </ul>
        </nav>
        <!--Menu HTML Code--> 
        
      </div>
    </div>
  </div>
