<div class="enclose">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-10 col-xl-10">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-8 banright">
                                <h3>Sign up for your Business account</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                </div>
                                <div class="col-md-12 col-lg-4 col-xl-4 banleft">
                                <form action="" class="signupform">
                                    <div class="signupheader text-center">
                                        <h3>Sign up</h3>    
                                    </div>
                                    <div class="form-group myformgroup">
                                        <input type="text" class="form-control mytexts" placeholder="Name of business">
                                        <input type="text" class="form-control mytexts" placeholder="First Name">
                                        <input type="text" class="form-control mytexts" placeholder="Last Name">
                                        <select class="form-control myselects">
                                            <option>Country</option>
                                            <option>Kenya</option>
                                            <option>Uganda</option>
                                            <option>Tanzania</option>
                                            <option>Rwanda</option>
                                        </select>
                                        <input type="text" class="form-control mytexts" placeholder="Mobile number">
                                        <input type="email" class="form-control myemail" placeholder="Email">
                                        <div class="btn btn-warning btn-block signup">sign up as a Business</div>
                                        <label class="label-control text-center">Already have an account?</label>
                                        <div class="btn btn-outline-warning btn-block signin">sign in as a Business</div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </section>
    <section class="contsectwo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-8">
                    <h3>Accept Payments</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Organize and Track Events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Issue and Manage Offers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Reach More Customers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>
</div>