/* You can add global styles to this file, and also import other style files */
$myprimary-color:#06a9e0;
$mysecondary-color:#faa01c;
$mythird-color:#064e79;
$mywhite-color:#ffffff;
$myblack-color:#000000;
$mylinks-color:#222222;
/* Webfont: Gotham-Bold */@font-face {
    font-family: 'GothamBold';
    src: url('assets/fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Book */@font-face {
    font-family: 'GothamBook';
    src: url('assets/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Gotham-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Light */@font-face {
    font-family: 'GothamLight';
    src: url('assets/fonts/Gotham-Light.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Gotham-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/Gotham-Light.svg#Gotham-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Medium */@font-face {
    font-family: 'GothamMedium';
    src: url('assets/fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Gotham-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Gotham-Thin */@font-face {
    font-family: 'GothamThin';
    src: url('assets/fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/Gotham-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body{
    margin-top:45px;
}
.container-fluid{
    padding: 0px;    
}
.enclose{
    min-height: 768px;
}
// media queries
@media only screen and(min-width:911px){
    .sigin{
        border-left: 2px solid $mythird-color;
    }
    .enclose{
        margin-top: 85px;
    }
}
